@use 'sass:math';

:root {
  --button-padding: 0.5em;
  --line-chart-axis-value-padding: 5px;
  --header-inner-size: 68px;
  --primary-font: 'Poppins', Verdana;
  --hover-color-transition: linear 0.15s;
}

@import 'util/mixins/mixins.scss';
@import 'general/colours';
@import 'general/header';
@import 'general/side-menu';

body {
  margin: 0;
  font-family: var(--primary-font);
}

input {
  font-family: var(--primary-font);
  outline: none;
}

a {
  text-decoration: none;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  z-index: 90000000;
  transition: opacity 0.3s, background-color 0.2s;
}

#loadingScreen img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

#loadingScreen.hiding {
  opacity: 0;
}

#loadingScreen.hidden {
  display: none;
}

#menuTitle {
  cursor: pointer;
}

/* Div IDs */

#main {
  height: calc(100% - 64px);
  transition: width 0.5s ease;
  margin-top: calc(64px + 0.5em);
  color: var(--text-color);
}

/* GENERAL */

.horizontal-grid {
  display: grid;
  grid-auto-flow: column;
}

.vertical-grid {
  display: grid;
  grid-auto-flow: row;
}

.content {
  margin: auto;
  max-width: 980px;
  padding: 2em 2em 0 2em;

  @include small-width {
    padding: 1em;
  }
}

.content h1 {
  max-width: 980px;
  margin: auto;
}

.primary-bg {
  background-color: var(--primary-bg-color);
}

.math {
  font-family: math;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
}

.inputBottomLine {
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  background-color: inherit;
  border-color: var(--light-text-color);
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

.smallInputBottomLine {
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  background-color: inherit;
  border-color: var(--light-text-color);
  outline: none;
  font-size: inherit;
  font-family: inherit;
  width: 2em;
}

.button {
  margin: auto;
  width: 120px;
  min-width: 100px;
  padding: var(--button-padding);
  background-color: var(--primary-accent-color);
  color: var(--invert-text-color);
  cursor: pointer;
  transition: var(--hover-color-transition);
  text-align: center;
}

.button:hover {
  background-color: var(--secondary-accent-color);
  color: var(--text-color);
}

.button-success {
  color: white !important;
  background-color: var(--success-color) !important;
}

.button-reject {
  color: white !important;
  background-color: var(--reject-color) !important;
}

.button-warn {
  color: black !important;
  background-color: var(--warn-color) !important;
}

.button-disabled,
.button-disabled:hover {
  background-color: var(--accent-bg-color) !important;
  color: var(--light-text-color) !important;
  cursor: default;
}

.textButton:hover {
  cursor: pointer;
  color: var(--primary-accent-color);
}

.lightButton {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
}

.lightButton:hover {
  cursor: pointer;
}

.basic-table {
  width: 100%;
}

.basic-table td {
  padding: 1em;
}

td.cell-reject {
  border: 1px solid var(--reject-color) !important;
  /* !important for matrices page */
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.round-outline {
  border: 1px solid;
  border-radius: 20px;
}

.invisible {
  visibility: hidden;
}

div.dark-mode-toggle {
  $height: 20px;

  width: $height * 2;
  height: $height;
  border-radius: math.div($height, 2);
  appearance: none;

  position: relative;

  background-color: var(--accent-bg-color);

  .slider {
    background-color: var(--primary-accent-color);

    height: 100%;
    width: 50%;
    border-radius: 50%;

    right: 50%;
    position: absolute;

    transition: 0.25s;
  }

  > input[type='checkbox'] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0;
    appearance: none;
    cursor: pointer;
    background: none;
  }

  input:checked ~ .slider {
    right: 0;
  }
}

.dark-only {
  display: none;
}

.mobile-only {
  display: none;
}

.input-reject {
  border: 1px solid var(--reject-color) !important;
}

@import 'components/line-chart';

@media only screen and (max-width: 770px) {
  #hamImage {
    display: block;
  }

  .mobile-only {
    display: inherit;
  }

  .desktop-only {
    display: none !important;
  }

  .horizontal-grid.squash-mobile {
    display: block;
  }
}

@include dark-mode {
  @import './main-dark';
}
