#canvasContainer {
  position: relative;
  display: flex;

  canvas {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
  }

  #tooltip {
    color: var(--text-color);
    font-style: italic;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em;
  }
}
