@import './util/mixins/dark-mode.scss';

:root {
  --language-colour: var(--primary-accent-color);
  --skill-highlight-colour: var(--tertiary-accent-color);
}

body {
  margin: auto;
  margin-top: 0;
  font-weight: 300;
}

/* Fonts */

h2 {
  font-weight: 300;
  color: var(--text-color);
}

.content h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0;
}

h5 {
  font-weight: 400;
  font-style: italic;
}

#showcase-main-spotlight {
  margin-top: 73px;
}

#education-degrees {
  text-align: center;
  display: flex;

  > div {
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
  }

  .candidate,
  .degree-title,
  .degree-length {
    display: block;
  }

  .description {
    font-size: 0.8em;
  }

  .candidate {
    color: var(--light-text-color);
    font-style: italic;
  }
  .degree-title {
    font-size: 1.3em;
  }
  .degree-length {
    margin: 0;
  }

  .logos {
    height: 100%;
    position: relative;
    padding: 1em;

    img {
      width: 60%;

      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.subtitle {
  margin: 0;
  /* color: var(--light-text-color); */
  color: var(--primary-accent-color);
}

.resume h2 {
  padding-bottom: 8px;
  border-bottom: 2px solid;
  border-color: var(--accent-bg-color);
}

.imageWithContext {
  width: 90%;
  padding: 0 5%;
}

.imageWithContext > img {
  width: 100%;
}

.imageWithContext > div {
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--primary-accent-color);
}

a:hover {
  text-decoration: none;
  text-decoration-color: white;
}

#textContent {
  position: absolute;
  background-color: var(--primary-bg-color);
  width: 100%;
  /* top: 75%; */
}

.itemImg {
  width: 20%;
}

.itemImg img {
  width: 100%;
}

.experienceItem {
  margin-bottom: 2em;
}

.expList {
  margin: 0.5em 0;
  clear: both;
}

.lowerShowcase {
  margin: auto;
  margin-top: 0;
  position: relative;
  width: 100vw;
  /* height: 200%; */
  transition: width 0.5s;
  filter: opacity(0.8);
}

.lowerShowcaseContainer {
  margin: auto;
  position: relative;
  top: 75%;
  width: 100%;
  /* height: 50%; */
  overflow: hidden;
  background-color: #001;
  z-index: 0;
}

.resume-highlight {
  color: var(--primary-accent-color);
  transition: var(--hover-color-transition);

  &:not(.nolink) {
    cursor: pointer;
  }
  &.language {
    // color: var(--light-text-color);
    color: var(--language-colour);
  }
  &.user-highlighted-skill {
    font-weight: 600;
    color: var(--skill-highlight-colour);
  }
}

#skills-list {
  height: 140px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.resume-skill:not(.no-matches) {
  cursor: pointer;
  transition: var(--hover-color-transition);
}

.resume-skill:hover:not(.skill-to-highlight, .no-matches) {
  color: var(--primary-accent-color);
}

/* Showcase */

#showcase {
  margin: auto;
  margin-top: calc(64px + 0.5em);
  width: 101%;
  position: fixed;
  z-index: -5;
  height: 80%;
  overflow: auto;
  transition: width 0.5s;
}

#showcaseImg {
  z-index: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: repeat-x;
  background-attachment: scroll;
  filter: brightness(0.8);
  background-size: cover;
}

#bigLogo {
  margin: 100px 30% 0;
  width: 40%;
  max-height: 60%;
  filter: invert(1);
}

.textWithAccent {
  width: 80%;
  float: right;
}

.textAccentImage {
  width: 15%;
  float: left;
}

.experience-item {
  margin-bottom: 1em;

  &.compact-layout {
    .side-image {
      display: none;
    }

    .body {
      display: flex;
      gap: 1em;
      flex-direction: row-reverse;

      .experience-image-container {
        position: relative;
        width: 100%;

        flex-basis: 20%;
        align-self: center;
      }
    }

    &.flipped .body {
      flex-direction: row;
    }
  }

  &.side-layout {
    .compact-image {
      display: none;
    }
  }
}

.experience-grid {
  width: 100%;
  color: var(--text-color);
  grid-auto-columns: auto 1fr;
}

.experience-grid.reversed {
  grid-auto-columns: 1fr auto;
}

.experience-image {
  max-width: 200px;
  max-height: 200px;
  float: right;
  width: 125px;
  padding: 1em;
}

.experience-image.reversed {
  float: left;
}

.project-title {
  font-weight: bold;
  color: var(--text-color);

  .resume-highlight {
    color: var(--text-color);
    &.user-highlighted-skill {
      color: var(--skill-highlight-colour);
    }
  }
}

.skill-emph {
  color: var(--primary-accent-color);
}

.skill-to-highlight {
  color: var(--skill-highlight-colour);
}

.skill-to-highlight.no-results,
.skill-to-highlight.no-results:hover {
  color: var(--light-text-color);
}

#small-projects {
  display: flex;
  gap: 1em;
}

.small-experience-item {
  flex-basis: 1;
  position: relative;

  .date {
    font-size: 0.9em;
  }
}

#languages-list {
  list-style: none;
  padding-left: 0;
}

#connect-links {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

#awards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;

  .award {
    text-align: center;
    padding: 1em 3em;
    span {
      display: block;
    }

    .name {
      font-size: 1.2em;
    }

    .date {
      font-size: 0.9em;
      font-style: italic;
      margin-bottom: 8px;
    }
  }
}

.fade-up-pending {
  position: relative;
  opacity: 0;
}

.fade-up-playing {
  position: relative;

  animation: fade-up;
  animation-duration: 1.5s;
}

@media only screen and (max-width: 770px) {
  .itemImage {
    display: none;
  }

  .itemSurround {
    top: 50%;
  }

  .rightAlignClass {
    /* float: left; */
    text-align: left;
  }

  #CscaTitle {
    width: null;
  }
  .textAccentImage {
    max-width: 200px;
    width: 60%;
    margin: auto;
    float: none;
  }

  .textWithAccent {
    width: 100%;
    float: none;
  }

  #education-degrees {
    flex-direction: column;

    .logos img {
      transform: none;
      top: 0;
    }
  }

  #skills-list {
    height: 200px;
  }

  .workplace-name {
    font-style: italic;
    color: var(--light-text-color);
  }

  .experience-image,
  .experience-image.reversed {
    display: block;
    float: none;
    margin: auto;
    padding: 0;
  }

  .experience-image {
    margin: auto;
    display: block;
  }

  .experience-image-container {
    padding: 1em 0;
  }

  .experience-image.dark-only {
    display: none;
  }

  #small-projects {
    flex-direction: column;
  }

  #awards-container {
    display: block;
  }
}

@media only screen and (max-width: 1060px) {
  .itemImage {
    display: none;
  }

  .rightAlignClass {
    /* float: left; */
    text-align: left;
  }

  .itemSurround {
    box-shadow: none !important;
  }

  .item > h3:last-child {
    border-bottom: 1px solid #bbb;
    padding-bottom: 3em;
  }

  #CscaTitle {
    width: null;
  }

  .lowerShowcaseContainer {
    display: none;
  }
}

@include dark-root {
  --language-colour: var(--primary-accent-color);
}
