@import 'util/mixins/mixins.scss';

:root {
  --showcase-shadow-colour: #8888;
  --showcase-spotlight-height: 510px;

  --item-header-colour: var(--primary-accent-color);
}

$duration: 1.5s;
$fade-up-distance: 30px;

#showcase-items {
  overflow-x: hidden;
}

#big-logo {
  background-color: #0008;
  border-radius: 100%;
  box-shadow: 0 0 30px 0 black;
  top: 10vh;
  max-width: 40vh;
  max-height: 40vh;
  transform: translateX(-50%);
  width: 30%;
  position: absolute;
}

#showcase-main-spotlight {
  height: 60vh;
  position: relative;
  text-align: center;
}

#showcase-main-spotlight-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-size: cover;
}

.showcase-items-preface {
  background-color: var(--primary-bg-color);
}

.showcase-item-container {
  animation-duration: $duration; // used for JS

  background-color: white;
  position: relative;
  z-index: 2;
  width: calc(100% - 100px);
  padding: 0 50px;

  &.top-shadow {
    box-shadow: 0 -10px 10px 0 var(--showcase-shadow-colour);
  }

  &.bottom-shadow {
    box-shadow: 0 10px 10px 0 var(--showcase-shadow-colour);
  }

  &.both-shadow {
    box-shadow: 0 0 10px 10px var(--showcase-shadow-colour);
  }
}

.showcase-item-content {
  column-gap: 3em;
  display: flex;
  flex-flow: row;
  margin: auto;
  max-width: 980px;
  padding: 20px;
}

$showcase-item-image-margin: 18px;

.showcase-item {
  $date-padding: 4px;

  a {
    text-decoration: none;
  }

  .title,
  .date {
    font-weight: 300;
    transition: var(--hover-color-transition);

    color: var(--item-header-colour);
    position: relative;

    padding-bottom: $date-padding;
  }
  .title {
    font-size: 1.8em;
    margin: 0;
    top: $date-padding;
  }
  .date {
    font-size: 0.8em;
    margin-top: 0;
    text-transform: lowercase;
    top: 0;

    border-bottom: 1px solid var(--very-light-text-color);
  }

  .description {
    color: var(--text-color);

    position: relative;
    top: 0;
    font-weight: 300;
  }

  .image-container {
    text-align: right;

    margin-bottom: $fade-up-distance;
    position: relative;

    $image-border-radius: 20px;

    .image-shadow-container {
      box-shadow: 0 0 8px 1px #0008;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      border-radius: $image-border-radius;

      padding: 8px;

      position: relative;
      top: 0;
      transition: var(--hover-color-transition);
    }

    .caption {
      text-align: center;
    }

    img {
      width: 225px;
      max-height: 180px;
      border-radius: $image-border-radius;
      margin: auto;
    }
  }

  .text-container {
    position: relative;
  }

  .image-container,
  .text-container {
    flex-grow: 1;
  }

  a.captioned-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    top: 0;
    max-width: 175px;

    transition: var(--hover-color-transition);

    position: relative;

    .caption {
      padding: 8px 0;
      top: 0;
      font-weight: 300;

      span {
        display: block;

        &.captioned-date {
          font-size: 0.75em;
        }
      }
    }

    img {
      width: 100%;
    }

    &:link,
    &:visited {
      color: var(--primary-accent-color);
    }

    &:hover {
      color: var(--text-color);
    }
  }
}

.showcase-item-container.single-item {
  &:hover {
    .text-container {
      .title,
      .date {
        color: var(--text-color);
      }
    }
  }
}

.showcase-item-container.single-item.centered {
  .showcase-item-content {
    flex-flow: column;
  }

  .title-container {
    border-bottom: 1px solid var(--primary-accent-color);
  }

  .title {
    position: relative;
    top: 0;
  }

  .title,
  .description {
    text-align: center;
    width: 100%;
  }

  &:not(.animation-playing, .animation-complete) .title {
    opacity: 0;
  }

  &.animation-complete:hover .title {
    top: -5px;
  }
}

.showcase-item-container.single-item.centered.highlight .title-container {
  border-color: #fff;
}

.showcase-item-container.multi-item {
  .images-internal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 6px;

    .image-shadow-container {
      height: 100%;
      img {
        width: 150px;
        height: min-content;
        margin: auto;
        border-radius: 8px * 1.5;
      }
    }
  }
}

.showcase-item-container {
  &.highlight-1 {
    background: linear-gradient(132deg, var(--primary-accent-color), #4affde);
  }
  &.highlight-2 {
    background: linear-gradient(132deg, #f906db, #ff3b00);
  }
}

 @include dark-mode {
  .showcase-item-container.highlight-1 {
    background: linear-gradient(132deg, #f700ef, #00c4ff);
  }
}

.showcase-item-container.highlight {
  .title,
  .date,
  .description {
    color: #fff;
  }

  .date {
    border-color: #fff;
  }

  .captioned-name,
  .captioned-date {
    color: #fff;
  }

  .dark-invert-filter {
    filter: invert(1);
  }

  &.single-item:hover {
    .title,
    .date {
      color: #fff;
    }
  }
}

.no-opacity {
  opacity: 0;
}

.showcase-item-container.animation-complete.single-item .image-shadow-container:hover {
  top: -5px;
}

.showcase-item-container.animation-complete .captioned-image:hover {
  top: -5px;
}

.showcase-item-container.no-hover .text-container:hover {
  .title,
  .date {
    color: var(--item-header-colour);
  }
}

.showcase-spotlight-container {
  height: var(--showcase-spotlight-height);
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    width: 100%;
    position: relative;
  }
}

.right-aligned-item {
  .text-container {
    text-align: right;
  }

  .image-container {
    text-align: left;
  }
}

@include tablet-width {
  .single-item .image-container {
    display: none;
  }
  .multi-item .showcase-item-content {
    display: block;

    .image-container {
      padding: 8px 0;
    }
  }

  #big-logo {
    width: 50%;
  }

  .image {
    width: 100px;
  }

  .right-aligned-item .text-container {
    text-align: left;
  }
}

@include small-width {
  #big-logo {
    width: 70%;
  }
}

@keyframes fade-up {
  from {
    top: $fade-up-distance;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.showcase-item-container.animation-playing {
  .title,
  .date,
  .description {
    animation: fade-up;
    animation-duration: $duration;
  }

  .image-shadow-container,
  .caption {
    animation: fade-up;
    animation-duration: $duration;
  }
}

.showcase-item-container.animation-complete {
  .title,
  .date,
  .description {
    opacity: 1;
  }
  .image,
  .caption {
    opacity: 1;
  }
}
