:root {
  /* --primary-accent-color: #ad0058; */
  --covid-tab-colour: #444;
  --covid-selected-tab-colour: #f70174;
  --covid-card-color: var(--secondary-bg-color);
}

.content {
  color: var(--light-text-color);
}

.line-chart-container {
  background-color: #fff;
}

.line-chart-container canvas {
  background-color: #fff;
}

.display-card {
  box-shadow: 0px 0 4px 1px #bbb;
  background-color: unset;
}
.display-card.success-card {
  background-color: var(--success-color);
  color: white;
}
.display-card.fail-card {
  background-color: var(--reject-color);
  color: white;
}

.covid-tab {
  border-bottom: 1px solid var(--covid-tab-colour);
}

.covid-tab.selected,
.covid-tab:hover {
  color: var(--covid-selected-tab-colour);
  border-bottom: 1px solid var(--covid-selected-tab-colour);
}
