@keyframes fade-up {
  from {
    top: 30px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
nav#desktop-header {
  background-color: var(--primary-bg-color);
  border-bottom: 5px var(--primary-accent-color) solid;
  box-shadow: 0 0 6px 1px #0088;
  color: var(--text-color);
  height: var(--header-inner-size);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  /* dropdowns */
}
nav#desktop-header #header-inner-bounds {
  display: flex;
  max-width: 980px;
  margin: auto;
  position: relative;
}
nav#desktop-header #header-logo {
  height: 52px;
  padding: 8px;
  float: left;
}
nav#desktop-header #header-left {
  display: inline-block;
}
nav#desktop-header #header-title {
  padding: 0 0.5em;
  margin: 0;
  display: inline-block;
  height: var(--header-inner-size);
  color: var(--primary-accent-color);
}
nav#desktop-header #header-title .inner {
  height: var(--header-inner-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav#desktop-header #header-title .name {
  margin: 0;
  line-height: 26px;
  font-size: 26px;
}
nav#desktop-header #header-title .github-io {
  margin: 0;
  font-size: 12px;
}
nav#desktop-header .dark-mode-toggle#left-nav-toggle {
  display: none;
  position: relative;
  margin: 0 10px;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 1100px) {
  nav#desktop-header .dark-mode-toggle#left-nav-toggle {
    display: inline-block;
  }
}
nav#desktop-header .dark-mode-toggle#right-nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px;
}
@media only screen and (max-width: 1100px) {
  nav#desktop-header .dark-mode-toggle#right-nav-toggle {
    display: none;
  }
}
nav#desktop-header #side-menu-opener {
  margin: 12px;
  width: 44px;
  height: 44px;
  transition: opacity 0.5s;
  cursor: pointer;
  padding: 0;
  display: none;
  opacity: 1;
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}
nav#desktop-header #side-menu-opener img {
  width: 100%;
  height: 100%;
}
nav#desktop-header #side-menu-opener.hidden {
  opacity: 0;
}
nav#desktop-header #header-menu {
  margin: 0;
  padding: 0;
  height: var(--header-inner-size);
  color: var(--accent-color);
}
nav#desktop-header #header-menu {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
nav#desktop-header .header-menu-item-container {
  display: inline-block;
  position: relative;
}
nav#desktop-header .header-menu-item-container:hover, nav#desktop-header .header-menu-item-container:focus-within {
  color: var(--primary-accent-color);
  cursor: pointer;
}
nav#desktop-header .header-menu-item-container:hover .header-dropdown-body, nav#desktop-header .header-menu-item-container:focus-within .header-dropdown-body {
  display: block;
}
nav#desktop-header .header-menu-item-container .header-menu-item {
  height: var(--header-inner-size);
  line-height: var(--header-inner-size);
  display: inline-block;
  padding: 0 24px;
  color: var(--text-color);
}
nav#desktop-header .header-menu-item-container .header-menu-item:focus .header-link, nav#desktop-header .header-menu-item-container .header-menu-item:hover .header-link {
  color: var(--primary-accent-color);
}
nav#desktop-header .header-menu-item-container .header-menu-item:focus #header-resume-button, nav#desktop-header .header-menu-item-container .header-menu-item:hover #header-resume-button {
  background-color: var(--secondary-accent-color);
  color: var(--text-color);
}
nav#desktop-header .header-menu-item-container .header-dropdown-body {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  position: absolute;
  min-width: 200px;
  padding: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  display: none;
}
nav#desktop-header .header-menu-item-container .header-dropdown-body:hover {
  display: block;
}
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item.header-item,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:link.header-item,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:visited.header-item {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item.header-item:hover, nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item.header-item:focus-within,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:link.header-item:hover,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:link.header-item:focus-within,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:visited.header-item:hover,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:visited.header-item:focus-within {
  background-color: var(--secondary-bg-color);
  color: var(--primary-accent-color);
  cursor: pointer;
}
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item.header-item.dropdown,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:link.header-item.dropdown,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:visited.header-item.dropdown {
  position: relative;
  cursor: auto;
}
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item.header-item.dropdown:hover .header-dropdown-body,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:link.header-item.dropdown:hover .header-dropdown-body,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:visited.header-item.dropdown:hover .header-dropdown-body {
  display: block;
}
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item.header-item.dropdown .header-dropdown-body,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:link.header-item.dropdown .header-dropdown-body,
nav#desktop-header .header-menu-item-container .header-dropdown-body .header-item:visited.header-item.dropdown .header-dropdown-body {
  display: none;
  left: 100%;
  position: absolute;
  top: 0;
}
nav#desktop-header .header-menu-item-container .header-link {
  color: var(--text-color);
  text-decoration: none;
  height: 100%;
}
nav#desktop-header .header-menu-item-container #header-resume-button {
  background-color: var(--primary-accent-color);
  border-radius: 6px;
  color: var(--invert-text-color);
  padding: 7px 16px;
  transition: var(--hover-color-transition);
}
nav#desktop-header .header-menu-item-container #header-resume-button .header-link {
  text-decoration: none !important;
}
@media only screen and (max-width: 820px) {
  nav#desktop-header #side-menu-opener {
    display: block;
  }
  nav#desktop-header #header-menu {
    display: none;
  }
}
@media only screen and (max-width: 440px) {
  nav#desktop-header #header-logo {
    display: none;
  }
  nav#desktop-header #header-title {
    font-size: 0.8em;
  }
}
