@import '../util/mixins/mixins.scss';

:root {
  --npcs-red: #58180d;
  --npcs-red-fixed: #58180d;
  --npcs-gray: #111;
  --npcs-light-gray: #333;
}

@include dark-root {
  --npcs-red: #ffd700;
}

/* Ability Scores */

/* the NPC card */

.monsterCard {
  margin: auto;
  margin-top: 100px;
  padding: 10px 30px 30px 30px;
  max-width: 540px;
  border: 1px black solid;
  background-color: #fcf1e3;
  font-family: Lucida Sans Unicode;

  .name-bar {
    position: relative;
  }

  .save-npc {
    width: 16px;
    border: 5px solid var(--npcs-light-gray);
    position: absolute;
    right: 0;
    display: inline-block;
    background-color: var(--npcs-light-gray);
    border-radius: 50px;
    cursor: pointer;
  }

  .save-npc.saved {
    background-color: var(--npcs-red-fixed);
    border-color: var(--npcs-red-fixed);
  }

  .save-npc img {
    margin: 0;
    display: block;
  }

  > .description > .type {
    color: black;
    font-style: italic;
  }

  h1 {
    color: var(--npcs-red-fixed);
    display: inline-block;
    margin-bottom: 0;
    font-family: Times New Roman;
    font-size: 1.6em;
    margin-right: 0;
    min-width: 0;
    box-sizing: border-box;
  }

  h1::first-letter {
    font-size: 1.4em;
  }

  .nameSpace {
    color: #fcf1e3;
  }

  h2 {
    color: var(--npcs-red-fixed);
    font-size: 0.9em;
    margin-bottom: 0;
  }

  h2::first-letter {
    font-size: 1.4em;
  }

  h6 {
    color: var(--npcs-red-fixed);
    font-size: 0.8em;
    font-weight: normal;
    margin: 0.05em;
  }

  img {
    margin: 0.5em 0;
    width: 100%;
  }

  .line {
    background-color: var(--npcs-red-fixed);
    height: 2px;
    width: 100%;
  }

  p {
    font-size: 0.8em;
    color: var(--npcs-gray);
  }
}

.asNames > th {
  width: 14%;
  color: var(--npcs-red-fixed);
  font-size: 0.8em;
}

.asValues > td {
  text-align: center;
  color: var(--npcs-red-fixed);
  font-size: 0.8em;
}

/* the menu */

.selector {
  margin: auto;
}

.selector > * {
  margin: auto;
  height: 100%;
  font-family: Lucida Sans Unicode;
  border: none;
  min-height: 36px;
}

.selector input {
  padding: 0 10px;
}

#npcs-footer {
  position: fixed;
  max-height: 80px;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 8px;
  width: 100%;
  background-color: var(--primary-bg-color);
  border-top: var(--accent-color) 3px solid;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.save-icon,
#saved-bar-refresh {
  display: inline-block;
  transition: background-color 0.2s, color 0.2s;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 5px 10px;
}

.save-icon-circle {
  background-color: var(--secondary-bg-color);
  border-radius: 100px;
  width: 100%;
  height: 40px;
  position: relative;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: inherit;
}

.save-icon-circle:hover {
  background-color: var(--npcs-red-fixed);
  color: white;
}

.save-icon-delete {
  background-color: var(--accent-bg-color);
  border-radius: 100px;
  width: 12px;
  height: 12px;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transition: inherit;
}

.save-icon-delete:hover {
  background-color: var(--reject-color);
  color: white;
}

@media only screen and (max-width: 1060px) {
  .selector {
    padding: 0 5px;
  }
  .selector > * {
    width: 100%;
    margin: 5px 0;
  }
  #inputCr {
    width: 100%;
  }
}
