:root {
  --wordle-success-color: #009e00;
  --wordle-correct-letter-color: #b58e02;
  --wordle-incorrect-color: #666;
  --wordle-bg-color: #444;
}

#wordle-container .wordle-tile {
  color: var(--invert-text-color);
}
#wordle-container .wordle-tile.incorrect .back,
#wordle-container .wordle-tile.correct-letter .back,
#wordle-container .wordle-tile.success .back {
  color: var(--invert-text-color);
}
