@keyframes fade-up {
  from {
    top: 30px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
:root {
  --wordle-success-color: #009e00;
  --wordle-correct-letter-color: #a17e00;
  --wordle-incorrect-color: #1b1b1b;
  --wordle-bg-color: var(--accent-bg-color);
}

#wordle-container .wordle-message-box {
  display: none;
  background-color: var(--secondary-bg-color);
  margin: auto;
  position: absolute;
  padding: 1em;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
#wordle-container .wordle-message-box.visible {
  display: inline-block;
}
#wordle-container .wordle-tile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.6em;
  font-weight: 600;
  color: var(--text-color);
  text-transform: capitalize;
  text-transform: uppercase;
}
#wordle-container .wordle-tile.flipped .inner {
  transform: rotateY(180deg);
}
#wordle-container .wordle-tile .inner {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
#wordle-container .wordle-tile .inner .front {
  background-color: var(--wordle-bg-color);
}
#wordle-container .wordle-tile .inner .front,
#wordle-container .wordle-tile .inner .back {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#wordle-container .wordle-tile .inner .front .letter-text,
#wordle-container .wordle-tile .inner .back .letter-text {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#wordle-container .wordle-tile .inner .back {
  transform: rotateY(180deg);
}
#wordle-container .wordle-tile.success .back {
  background-color: var(--wordle-success-color);
}
#wordle-container .wordle-tile.correct-letter .back {
  background-color: var(--wordle-correct-letter-color);
}
#wordle-container .wordle-tile.incorrect .back {
  background-color: var(--wordle-incorrect-color);
}
#wordle-container #wordle-answers-grid {
  max-width: 300px;
  width: 100%;
  margin: 40px auto;
}
@media (max-width: 500px) {
  #wordle-container #wordle-answers-grid {
    max-width: 70vw;
  }
}
@media (max-width: 820px) {
  #wordle-container #wordle-answers-grid {
    max-width: 300px;
  }
}
#wordle-container #wordle-answers-grid td {
  width: 20%;
  padding-top: 20%;
  position: relative;
}
#wordle-container #wordle-keyboard-container .key-row {
  margin: auto;
  position: relative;
}
#wordle-container #wordle-keyboard-container .key-row td {
  position: relative;
}
#wordle-container #wordle-keyboard-container .key-row td .wordle-key {
  display: inline-flex;
  position: relative;
  margin: 6px;
  cursor: pointer;
  transition: var(--hover-color-transition);
  width: 4em;
  height: 4em;
  line-height: 100%;
  max-width: 52px;
  max-height: 52px;
}
#wordle-container #wordle-keyboard-container .key-row td .wordle-key:hover {
  box-shadow: 0 0 8px 0px var(--wordle-bg-color);
}
@media (max-width: 820px) {
  #wordle-container #wordle-keyboard-container .key-row td .wordle-key {
    margin: 2px;
    font-size: 24px;
    max-width: 40px;
    max-height: 40px;
  }
}
@media (max-width: 500px) {
  #wordle-container #wordle-keyboard-container .key-row td .wordle-key {
    font-size: 16px;
    max-width: 20px;
    max-height: 20px;
  }
}
#wordle-container #wordle-keyboard-container #wordle-enter-key {
  max-width: unset;
  width: 130px;
}
@media (max-width: 820px) {
  #wordle-container #wordle-keyboard-container #wordle-enter-key {
    width: 100px;
  }
}
