@import '../util/mixins/mixins.scss';

:root {
  --wordle-success-color: #009e00;
  --wordle-correct-letter-color: #a17e00;
  --wordle-incorrect-color: #1b1b1b;
  --wordle-bg-color: var(--accent-bg-color);
}

#wordle-container {
  .wordle-message-box {
    display: none;

    background-color: var(--secondary-bg-color);
    margin: auto;
    position: absolute;
    padding: 1em;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);

    &.visible {
      display: inline-block;
    }
  }

  .wordle-tile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.6em;
    font-weight: 600;
    color: var(--text-color);
    text-transform: capitalize;

    text-transform: uppercase;

    &.flipped .inner {
      transform: rotateY(180deg);
    }

    .inner {
      position: relative;
      transition: transform 1s;
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;

      .front {
        background-color: var(--wordle-bg-color);
      }

      .front,
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 100%;
        text-align: center;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

        .letter-text {
          top: 50%;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
        }
      }

      .back {
        transform: rotateY(180deg);
      }
    }

    &.success {
      .back {
        background-color: var(--wordle-success-color);
      }
    }

    &.correct-letter {
      .back {
        background-color: var(--wordle-correct-letter-color);
      }
    }

    &.incorrect {
      .back {
        background-color: var(--wordle-incorrect-color);
      }
    }
  }

  #wordle-answers-grid {
    max-width: 300px;
    width: 100%;
    margin: 40px auto;

    @include small-width {
      max-width: 70vw;
    }

    @include tablet-width {
      max-width: 300px;
    }

    td {
      width: 20%;
      padding-top: 20%;
      position: relative;
    }
  }

  #wordle-keyboard-container {
    .key-row {
      margin: auto;
      position: relative;

      td {
        position: relative;

        .wordle-key {
          display: inline-flex;
          position: relative;
          margin: 6px;
          cursor: pointer;
          transition: var(--hover-color-transition);

          &:hover {
            box-shadow: 0 0 8px 0px var(--wordle-bg-color);
          }

          $size: 4em;
          width: $size;
          height: $size;
          line-height: 100%;

          $max-size: 52px;
          max-width: $max-size;
          max-height: $max-size;

          @include tablet-width {
            margin: 2px;
            font-size: 24px;
            $max-size: 40px;

            max-width: $max-size;
            max-height: $max-size;
          }

          @include small-width {
            $max-size: 20px;
            font-size: 16px;

            max-width: $max-size;
            max-height: $max-size;
          }
        }
      }
    }

    #wordle-enter-key {
      max-width: unset;
      width: 130px;

      @include tablet-width {
        width: 100px;
      }
    }
  }
}
