nav#side-menu {
  #side-menu-content {
    .side-menu-category-button {
      background-color: var(--accent-bg-color);
      color: white;

      &.active {
        background-color: var(--accent-bg-color-hover);
      }
      &:hover {
        background-color: var(--accent-bg-color-hover);
      }
    }

    .side-menu-item {
      a:hover {
        color: var(--tertiary-accent-color);
      }
    }

    #side-menu-end-button > img {
      filter: invert(10%) saturate(6520%) hue-rotate(247deg) brightness(71%) contrast(135%);
    }
  }
}
