:root {
  --combatant-row-height: 35px;
  --delete-button-height: 12px;
  --input-table-row-height: 1.5em;
}

input {
  background-color: inherit;
  border: none;
  width: unset;
  outline: none;
}

button {
  appearance: none;
  border: none;
  color: unset;
  background-color: unset;
  font: unset;
}

#tracker-side-bar {
  max-width: 180px;
  padding-left: 20px;
  float: right;
}

#tracker-side-bar h3 {
  margin-bottom: 0;
}

#main table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 1em;
}

#main th {
  border: 2px solid var(--primary-accent-color);
  color: var(--text-color);
}

#main td {
  background-color: var(--secondary-bg-color);
  position: relative;
  text-align: center;
}

#main td:first-child {
  padding: 0 5px;
}

.is-npc-container {
  position: relative;
}

#main td {
  line-height: var(--input-table-row-height);
}

#data-input-table tr {
  height: var(--input-table-row-height);
}

#main td button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: var(--hover-color-transition);
}

#main td button.selected {
  background-color: var(--success-color);
}

.npc-data-cell {
  height: var(--input-table-row-height);
}

.npc-data-cell.selected, .npc-data-cell.transition-to-deselected {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 50%;
}

.npc-data-cell>div {
  height: var(--input-table-row-height);
}

.npc-data-cell>.health-input-container {
  display: none;
}

.npc-data-cell.selected>.health-input-container, .npc-data-cell.transition-to-deselected>.health-input-container {
  display: block;
}

input.health-input {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  text-align: center;
  line-height: var(--input-table-row-height);
  transition: var(--hover-color-transition);
}

.npc-data-cell.transition-to-deselected input.health-input, .npc-data-cell.transition-to-deselected input.health-input::placeholder {
  color: var(--secondary-bg-color);
}

#main table th:first-child {
  width: 60%;
}

.button {
  margin-bottom: 5em;
}

#next-combatant-button {
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

#tracker-main h2 {
  margin-bottom: 0;
}

#tracker-main h3 {
  margin-top: 0;
}

/* combatant grid */

.combatant-grid {
  display: grid;
  grid-auto-flow: row;
  row-gap: 12px;
  font-size: 0.9em;
}

.combatant-row {
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.combatant-row .combatant-initiative {
  width: 50px;
  grid-column: 1;
}

.combatant-row .combatant-name {
  flex-grow: 2;
  grid-column: 2;
}

.combatant-grid div {
  background-color: var(--secondary-bg-color);
  position: relative;
  text-align: center;
}

.combatant-grid .combatant-initiative {
  background-color: var(--npcs-red);
  color: var(--invert-text-color);
  min-width: 1em;
  line-height: var(--combatant-row-height);
  font-size: 1.2em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  transition: var(--hover-color-transition);
}

.combatant-grid .combatant-initiative.is-npc {
  background-color: var(--accent-color);
  color: var(--invert-text-color);
}

.combatant-grid .combatant-initiative.disabled, .combatant-grid .combatant-name.disabled {
  background-color: var(--secondary-bg-color);
  color: var(--light-text-color);
  font-style: italic;
}

.combatant-grid .combatant-name {
  text-align: left;
  line-height: var(--combatant-row-height);
  padding-left: 10px;
  transition: var(--hover-color-transition);
}

.combatant-grid .top-of-round {
  background-color: unset;
  font-size: 0.8em;
}

.combatant-grid .top-of-round .arrow {
  width: 100%;
  height: 6px;
  position: relative;
  background-color: unset;
}

.combatant-grid .top-of-round .triangle {
  width: 0;
  height: 0;
  background-color: unset;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 75px solid var(--npcs-red);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
}

.combatant-grid .top-of-round .line {
  background: var(--npcs-red);
  height: 2px;
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
}

.npcs-delete-button {
  background-color: var(--accent-bg-color);
  border-radius: 100px;
  height: var(--delete-button-height);
  font-size: var(--delete-button-height);
  text-align: center;
  line-height: var(--delete-button-height);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 5px;
  transition: var(--hover-color-transition);
  transform: translate(1em, -50%);
  z-index: 5;
}

.npcs-delete-button:hover {
  background-color: var(--reject-color);
  color: white;
}

.combatant-hp-container {
  background-color: var(--accent-bg-color);
  line-height: var(--combatant-row-height);
  height: var(--combatant-row-height);
}

.combatant-hp-container>div {
  flex-grow: 1;
  height: var(--combatant-row-height);
  right: 0;
}

.combatant-hp {
  /* line-height: var(--combatant-row-height);
  height: var(--combatant-row-height); */
  text-align: right;
}

.highlight-tracker-text {
  color: var(--npcs-red);
}

@media only screen and (max-width: 770px) {
  #next-combatant-button {
    position: relative;
    margin: auto;
    display: block;
  }
  #main table th:first-child {
    width: unset;
  }
}