.calcField {
  width: 100%;
  background-color: var(--secondary-bg-color);
  color: var(--accent-color);
  outline: none;
  border: 3px #0000 solid;
  border-radius: 20px;
  height: 3em;
  padding: 1em;
  margin: 1em 0 0 0;
  font-size: 1em;
  transition: 0.5s border;
}
