#showcase {
  margin: auto;
  margin-top: 0;
  width: 101%;
  position: fixed;
  z-index: -5;
  height: 80%;
  overflow: auto;
  transition: width 0.5s;
}

#showcaseImg {
  z-index: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-size: cover;
  filter: brightness(0.8);
}

#bigLogo {
  margin: 100px 30% 0;
  width: 40%;
  max-height: 60%;
  filter: invert(1);
}
