body {
  margin: auto;
  margin-top: 0;
}

/* Fonts */

h2 {
  margin: auto;
  font-size: 2em;
}

h3 {
  margin: auto;
  white-space: pre-line;
  font-weight: normal;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  text-decoration-color: var(--invert-text-color);
}

/* Item */

.itemSurround {
  margin: auto;
  z-index: 10;
  top: 75%;
  width: 100%;
  background-color: var(--primary-bg-color);
  overflow: auto;
  position: relative;
  box-shadow: 0 10px 10px 0 #4444;
}

.itemSurround h2, .itemSurround h2 {
  font-weight: 400;
}

.itemSurround a:link, a:visited, .itemSurround a:active {
  color: var(--primary-accent-color);
}

.item {
  margin: auto;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  position: relative;
  max-width: 980px;
  padding: 1em 3em;
  overflow: auto;
  border-radius: 15px;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

.secret-item h2, .secret-item h3 {
  color: var(--tertiary-accent-color);
}

.item p {
  margin: auto;
  padding: 0;
  color: var(--text-color);
  font-size: 1.15em;
}

.itemDate {
  margin: auto;
  padding: 0 0 1em 0;
  font-size: 1.5em;
}

.rightAlignClass {
  text-align: right;
  padding-right: 0;
}

.leftAlignClass {
  float: left;
  text-align: left;
  padding-left: 0;
}

.lowerShowcase {
  margin: auto;
  margin-top: 0;
  position: relative;
  width: 100vw;
  transition: width .5s;
  filter: opacity(0.8);
}

.lowerShowcaseContainer {
  margin: auto;
  position: relative;
  top: 75%;
  width: 100%;
  overflow: hidden;
  background-color: #001; /* do not make variable */
  z-index: 0;
}

.itemImage {
  border-radius: 30px;
  float: right;
  width: 250px;
  max-height: 200px;
}

/* Div IDs */

#main {
  height: 100%;
  transition: margin-right .5s;
}

/* Showcase */

#showcase {
  margin: auto;
  margin-top: 0;
  width: 101%;
  position: fixed;
  z-index: -5;
  height: 80%;
  overflow: auto;
  transition: width .5s;
}

#showcaseBox {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  overflow: auto;
  position: relative;
  z-index: -2;
  top: 30%;
  right: 0;
  left: 0;
  height: fit-content;
  max-width: 850px;
  border-radius: 50px;
  transition: margin-right .5s;
}

#showcaseTitle {
  margin: auto;
  overflow: auto;
  position: relative;
  padding: 24px 1em 0;
  font-size: 3.5em;
  font-weight: bold;
  color: white;
  text-align: center;
}

#showcaseDesc {
  margin: auto;
  overflow: auto;
  position: relative;
  padding: 24px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

#showcaseImg {
  z-index: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-size: cover;
  filter: brightness(0.8);
}

#bigLogo {
  margin: 100px 30% 0;
  width: 40%;
  max-height: 60%;
  filter: invert(1);
}

@media only screen and (max-width: 727px) {
  .itemImage {
    display: none;
  }
  #showcaseBox {
    display: none;
  }
  .itemSurround {
    top: 50%;
  }
  .rightAlignClass {
    /* float: left; */
    text-align: left;
  }
  #CscaTitle {
    width: null;
  }
}

@media only screen and (max-width: 1060px) {
  .itemImage {
    display: none;
  }
  .rightAlignClass {
    /* float: left; */
    text-align: left;
  }
  .itemSurround {
    box-shadow: none !important;
  }
  .item>h3:last-child {
    border-bottom: 1px solid var(--accent-bg-color);
    padding-bottom: 3em;
  }
  #CscaTitle {
    width: null;
  }
  .lowerShowcaseContainer {
    display: none;
  }
}