:root {
  --showcase-shadow-colour: #888b;
  --showcase-spotlight-height: 510px;
}

#showcase-items {
  overflow-x: hidden;
}

#big-logo {
  background-color: #0008;
  border-radius: 100%;
  box-shadow: 0 0 30px 0 black;
  top: 10vh;
  max-width: 40vh;
  max-height: 40vh;
  transform: translateX(-50%);
  width: 30%;
  position: absolute;
}

#showcase-main-spotlight {
  height: 60vh;
  position: relative;
  text-align: center;
}

#showcase-main-spotlight-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-size: cover;
}

.showcase-item-container {
  background-color: white;
  position: relative;
  z-index: 2;
  width: 100%;
  margin-left: -50px;
  padding: 0 50px;
}

.showcase-item-container.showcase-item-top-shadow {
  box-shadow: 0 -10px 10px 0 var(--showcase-shadow-colour);
}

.showcase-item-container.showcase-item-bottom-shadow {
  box-shadow: 0 10px 10px 0 var(--showcase-shadow-colour);
}

.showcase-item-container.showcase-item-both-shadow {
  box-shadow: 0 0 10px 10px var(--showcase-shadow-colour);
}

.showcase-item-content {
  column-gap: 3em;
  display: flex;
  flex-flow: row;
  margin: auto;
  max-width: 980px;
  padding: 20px;
}

.showcase-item-text-container:hover h2,
.showcase-item-text-container:hover h3 {
  color: var(--text-color);
}

.showcase-item a {
  text-decoration: none;
}

.showcase-item h2,
.showcase-item h3 {
  font-weight: 400;
  transition: var(--hover-color-transition);
}

.showcase-item h2 {
  font-size: 1.8em;
  margin: 0;
}

.showcase-item h3 {
  font-size: 1.3em;
  margin-top: 0;
}

.showcase-item-image-container {
  float: left;
  text-align: right;
}

.showcase-item-text-container {
  float: right;
}


.showcase-item-image-container,
.showcase-item-text-container {
  flex-grow: 1;
}

.showcase-item-image {
  width: 225px;
  max-height: 180px;
  border-radius: 20px;
}

.showcase-item-title,
.showcase-item-date {
  color: var(--primary-accent-color);
}

.showcase-item-description {
  color: var(--text-color);
}

.showcase-spotlight-container {
  height: var(--showcase-spotlight-height);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.showcase-spotlight-container img {
  width: 100%;
  position: relative;
}

.right-aligned-item .showcase-item-text-container {
  text-align: right;
}

.right-aligned-item .showcase-item-image-container {
  text-align: left;
}

@media only screen and (max-width: 727px) {
  #big-logo {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  #big-logo {
    width: 70%;
  }
}

@media only screen and (max-width: 727px) {
  .showcase-item-image {
    width: 100px;
  }

  .showcase-item-container.showcase-item-top-shadow {
    box-shadow: none;
  }
  
  .showcase-item-container.showcase-item-bottom-shadow {
    box-shadow: none;
  }
  
  .showcase-item-container.showcase-item-both-shadow {
    box-shadow: none;
  }

  .showcase-spotlight-container {
    display: none;
  }

  .right-aligned-item .showcase-item-text-container {
    text-align: left;
  }
}