#canvasBox {
  display: block;
  width: max-content;
  width: -moz-max-content;
  margin: auto;
  padding-top: 40px;
  user-select: none;
}

#main {
  background-color: var(--primary-bg-color);
}

canvas {
  z-index: 5;
  position: absolute;
  left: 0;
  float: left;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
}

.sprite {
  display: none;
  z-index: -10;
}

#insWrap {
  padding: 1px 4em;
  max-width: 800px;
  margin: auto;
  margin-top: calc(72px + 3em);
}

#insWrap a {
  text-decoration: none;
  cursor: pointer;
}

#insWrap h1 {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

#insWrap h2 {
  font-weight: bold;
  font-size: 2em;
}

#insWrap h3 {
  padding: 10px;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
}

.playButton {
  margin: auto;
  max-width: 600px;
  border-radius: 50px;
  background-color: var(--primary-accent-color);
  color: var(--invert-text-color);
  cursor: pointer;
}

#comp {
  background-color: var(--secondary-accent-color);
  color: var(--text-color);
}

@media only screen and (max-width: 600px) {
  #insWrap h2 {
    text-align: center;
  }
}
