@keyframes fade-up {
  from {
    top: 30px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
:root {
  --depth-0: rgb(0, 110, 255);
  --depth-1: #c904c9;
  --depth-2: #129c00;
  --depth-3: #835500;
  --depth-4: #c2013b;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --depth-3: #d48b04;
    --depth-4: #fc004c;
  }
}
:root.dark {
  --depth-3: #d48b04;
  --depth-4: #fc004c;
}

@keyframes step-fade-up {
  from {
    top: 80px;
  }
  to {
    top: 0;
  }
}
@keyframes step-fade-out {
  from {
    top: 80px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
#main {
  padding-bottom: 4em;
}
#main h2,
#main h3,
#main h4 {
  font-weight: 300;
  color: var(--primary-accent-color);
}
#main header {
  position: relative;
  height: 500px;
  overflow: hidden;
  border-bottom: 5px solid var(--primary-accent-color);
  box-shadow: 0 0 0 -5px #0008;
}
#main header h2,
#main header h3 {
  font-size: 18px;
  margin-bottom: 4px;
  color: #fff;
}
#main header #header-bg {
  width: 100%;
}
#main header #header-gradient {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(58deg, #004ad16b, #9d00ff8c);
  width: calc(100% + 20px);
  height: 100%;
  box-shadow: 0 0 10px 0px #0008 inset;
  margin-left: -10px;
}
#main header #header-main-content {
  color: white;
  position: absolute;
  top: 20px;
  left: 50%;
  translate: -50% 0;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
#main header #header-main-content h1 {
  text-align: center;
  font-size: 6em;
  margin: 0.3em 0 0 0;
}
#main header #header-main-content input {
  width: calc(100% - 12px + 100px);
  border-radius: 8px;
  outline: none;
  border: none;
  margin-left: -50px;
  box-shadow: 0 0 4px 0 #0004;
  background-color: #fffd;
  color: #333;
  font-size: 1.5em;
  padding: 6px;
  text-align: center;
}
#main header #preview-steps {
  position: absolute;
  bottom: 0;
  padding: 0 1em;
  width: calc(100% - 2em);
  height: 80px;
  overflow-y: hidden;
  font-weight: 300;
}
#main header #preview-steps .step {
  position: absolute;
  animation: step-fade-out 1.5s ease-out, step-fade-up 1.5s ease-out;
  animation-duration: 1.5s;
  opacity: 0;
  color: white;
}
#main #calc-error-modal {
  box-shadow: 0 0 4px 0 var(--reject-color);
  padding: 8px 12px;
  border-radius: 8px;
  width: calc(100% - 24px);
  color: var(--reject-color);
  display: none;
}
#main #calc-error-modal.active {
  display: block;
}
#main #calc-error-modal .error-msg {
  display: block;
  font-weight: 300;
}
#main #calc-error-modal h3 {
  margin: 0;
}
#main .body {
  padding-bottom: 4em;
}
#main .body math {
  font-family: "Cambria Math", Arial, sans-serif;
}
#main .body #steps-title {
  margin-bottom: 0;
}
#main .body #steps-toggle {
  font-style: italic;
  font-weight: 300;
  cursor: pointer;
}
#main .body #steps-full {
  column-gap: 4px;
  grid-template-columns: 1fr 4fr;
  box-shadow: 0 0 8px 2px #8888;
  padding: 1em;
  border-radius: 8px;
  margin: 1em 0 1em 1em;
  min-height: 100px;
  display: none;
}
#main .body #steps-full.active {
  display: grid;
}
#main .function .parens.d-0,
#main .function .operator.d-0 {
  color: var(--depth-0);
}
#main .function .parens.d-1,
#main .function .operator.d-1 {
  color: var(--depth-1);
}
#main .function .parens.d-2,
#main .function .operator.d-2 {
  color: var(--depth-2);
}
#main .function .parens.d-3,
#main .function .operator.d-3 {
  color: var(--depth-3);
}
#main .function .parens.d-4,
#main .function .operator.d-4 {
  color: var(--depth-4);
}
#main .variable {
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) .content input {
    box-shadow: 0 0 6px 0 #fff8;
  }
  :root:not(.light) #steps-full {
    background-color: #0a0a0a;
    box-shadow: none;
  }
}
:root.dark .content input {
  box-shadow: 0 0 6px 0 #fff8;
}
:root.dark #steps-full {
  background-color: #0a0a0a;
  box-shadow: none;
}

@media (max-width: 820px) {
  #main header {
    height: unset;
    display: flex;
  }
  #main header #header-main-content h1 {
    font-size: 4em;
  }
  #main header #header-main-content h2 {
    font-size: 1em;
  }
  #main header #header-main-content input {
    font-size: 1.2em;
  }
}
@media (max-width: 500px) {
  #main header {
    height: 500px;
  }
  #main header #header-main-content h1 {
    font-size: 4em;
  }
  #main header #header-main-content h2 {
    font-size: 1em;
  }
  #main header #header-main-content input {
    font-size: 1em;
    width: calc(100% - 4px);
    padding: 4px;
    margin-left: 0;
  }
  #main header #header-bg {
    width: unset;
    height: 100%;
  }
}
